# Database Environment Variables
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_DB="baddelha_db"

# Backend Environment Variables
PROJECT_NAME="Badellha Switch & Sell"
DATABASE_URL="postgresql://postgres:password@db:5432/baddelha_db"
TEST_DATABASE_URL="postgresql://postgres:password@db:5432/baddelha_db_test"
REDIS_URL="redis://redis:6379/0"
SECRET_KEY="your-super-secret-key-for-jwt"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="adminpassword"